.card-list-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.75fr 2fr 1fr;
  gap: 1rem;
  background-color: #D9D9D9;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.1);

  & > p.card-name, & > p.card-type {
    text-align: left;
    font-size: 1.3rem;
  }

  .mana-cost {
    display: flex;

    img {
      width: 2rem;
    }
  }
}