.card-list {

  &.image{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

    .card-list-item {
      box-sizing: border-box;
      width: 24.2%;
    }
  }

  &.row{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}