.mtg-card {
  .mtg-card-inner{
    display: grid;
    transform-style: preserve-3d;
    background: none;
    border-radius: 1rem;
    
    .front, .back {
      border-radius: 1rem;
      width: 100%;
      aspect-ratio: 1 / 1.4;
      grid-row: 1;
      grid-column: 1;
      backface-visibility: hidden !important;
      z-index: 2;
    }

    a {
      width: 100%;
      height: 100%;
      grid-row: 1;
      grid-column: 1;
      z-index: 3;
    }

    &:has(a:hover){
      box-shadow: 0 2px 10px 10px #ecffc0;
    }

    .mtg-card-actions {
      transition: opacity 0.15s linear;
      opacity: 0;
      grid-row: 1;
      grid-column: 1;
      z-index: 4;
      font-size: 2rem;
      background-color: rgba(0, 0, 0, 0.5);
      backface-visibility: hidden;
      border-radius: 0 0 1rem 1rem;
    }

    &:hover {
      .mtg-card-actions {
        opacity: 1;
      }
    }

    .back {
      z-index: 0;
      transform: rotateY(180deg) translateZ(-1px);
    }
  }
}

@media (max-width: 900px) {
  .mtg-card {
    .mtg-card-inner {
        .mtg-card-actions {
          opacity: 1;
        }
    }
  }
}