.deck-detail-page {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 1rem;

  & > .deck-banner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    

    & > .color-identity {
      display: flex;
      justify-content: left;
      gap: 0.5rem;
      width: 50%;
  
      & > * {
        width: 3rem;
      }
    }

    & > .deck-name {
      display: flex;
      align-items: center;

      & > h1 {
        margin: 0;
      }

      & > span, & > form > span {
        padding-left: 1rem;
        font-size: 2.5rem;
        cursor: pointer;
      }

      & > form {  
        display: flex;
        align-items: center;

        & > input {
          margin-left: -1rem;
          padding: 0 0 0 1rem;
          border: none;
          font-family: "Roboto Slab", serif;
          font-optical-sizing: auto;
          font-weight: 800;
          font-size: 2rem;
          width: fit-content;
          box-sizing: border-box;

          &:focus{
            outline: none;
          }
        }
      }
    }
  }
  
  & > .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & > .tag {
      height: fit-content;
      text-align: center;
      background-color: #D9D9D9;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 1rem;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      white-space: nowrap;
    }
  }

  & > .mana-cost-chart {
    margin: auto auto 2.5rem auto;
    width: 70%;
    height: 30rem;
  }
}

@media (max-width: 1000px) {
  .deck-detail-page{
    & > .mana-cost-chart {
      width: 100%;
    }
  }
  
}