.home-page {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .hero{
    position: relative;
    width: 100%;
    height: 35rem;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;

    .hero-bg{
      position: absolute;
      z-index: -1;
      background-image: url('https://images.unsplash.com/photo-1607773709367-06b7a91f7e4a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      width: 100%;
      height: 100%;

      background-size: cover;
      background-position: 0 50%;
      clip-path: inset(0 0 0 0);   
      filter: blur(0.5rem); 
      transform: scale(1.05); /* A tiny transformm to avoid blurry edges */
      opacity: 0.75;
    }

    .call-to-action {
      z-index: 1;
      color: white;
      max-width: 1000px;
      height: 100%;
      margin: auto;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;

      .description {
        display: flex;
        align-self: flex-start;
        width: 70%;
        height: 100%;
        flex-direction: column;
        align-items: center;

        h1 {
          margin-top: 1rem;
          margin-bottom: 0;
          font-size: 5rem;
        }

        p {
          font-size: 1.875rem;
          font-weight: 400;
          text-align: left;
          margin: 0;
        }

        & > .search-action {
          display: flex;
          flex: 1;
          place-items: center;

          & > button {
            display: flex;
            align-items: center;
            width: fit-content;
            height: fit-content;
            font-size: 2rem;
            font-weight: 200;
            border-radius: 5rem;
            border: 0;
            padding: 2rem 5rem 2rem 5rem;
            cursor: pointer;
            color: #565555;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
            transition: all 0.2s linear;


            & > span {
              font-size: 3rem;
              padding-left: 1rem;
            }

            &:hover {
              background-color: #CECECE;
              color: black;
            }
          }
        }
      }

      .hero-card {
        width: 30%;
        perspective: 1000px;

        & > :first-child {  
          animation: 15s ease-out 1 card-spin;

          & > * {
            animation:10s ease-in-out 1 fade-in;
          }
        }
      }
    }
  }

  .about, .search{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .about {
    h1 {
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 0;
    }

    & a {
      font-size: 1.75rem;
      text-align: left;
      font-weight: 400;
      text-decoration: underline;

      &:hover {
        color: #565555;
      }
    }

    p {
      font-size: 1.75rem;
      font-weight: 250;
      text-align: justify;
    }
  }

  .search {
    min-height: 100vh;
  }

}

@media (max-width: 900px){
  .home-page{
    .about {
      h1 {
        font-size: 2rem;
      }

      p, a {
        font-size: 1.4rem;
      }
    }

    .hero {
      height: fit-content;

      .hero-bg {
        transform: scale(1.13); /* A tiny transformm to avoid blurry edges */
      }

      .call-to-action {
        flex-direction: column;

        .description {
          gap: 1rem;
          width: 100%;

          h1 {
            margin: 0;
            font-size: 2rem;
          }

          p {
            font-size: 1.5rem;
            text-align: center;
          }

          & > .search-action {
            display: flex;
            flex: 1;
            place-items: center;
  
            & > button {
              font-size: 1.5rem;
              padding: 1rem 2rem 1rem 2rem;
            }
          }
        }

        .hero-card {
          width: 90%;
        }
      }
    }
  }
}

@keyframes card-spin {
  0% {
    transform: rotateY(0deg);
  }
  20%, 100% {
    transform: rotateY(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20%, 100% {
    opacity: 1;
  }
}