.card-list-row {
  display: grid;
  grid-template-columns: 1.5fr 1.75fr 2fr 1fr;
  gap: 1rem;
  background-color: #D9D9D9;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.1);

  & > p.card-name, & > p.card-type {
    margin: auto auto auto 0;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;

    & > a:hover {
      text-decoration: underline;
    }
  }

  & > .card-list-row-actions{
    margin: auto;
    color: black;
    font-size: 3rem;
    font-weight: 300;
  }

  .mana-cost {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 2rem;
    }
  }
}

@media (max-width: 900px) {
  .card-list-row {
    grid-template-columns: 3fr 3fr 1fr;

    & > p.card-name {
      text-align: left;
      font-size: 1rem;
      font-weight: 300;
    }

    & > p.card-type {
      display: none;
    }

    & > .card-list-row-actions{
      margin: auto;
      color: black;
      font-size: 2rem;
      font-weight: 300;
    }

    .mana-cost {
      display: flex;
  
      img {
        width: 1.5rem;
      }
    }
  }
}

@container (max-width: 900px) {
  .card-list-row {
    grid-template-columns: 4fr 1fr 1fr 1fr;

    & > p.card-name {
      text-align: left;
      font-size: 1rem;
      font-weight: 300;
    }

    & > p.card-type {
      display: none;
    }

    & > .card-list-row-actions{
      grid-column: 4;
      margin: auto;
      color: black;
      font-size: 2rem;
      font-weight: 300;
    }

    .mana-cost {
      grid-column: 2 / span 2;
      align-items: center;
  
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}