@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  background-color: #C6C6C6;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
}
