.list-type-toggle {
  display: grid;
  grid-template-columns:  1fr 1fr;
  width: 14rem;
  height: fit-content;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #E3E3E3;
  border-radius: 1rem;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  > * {
    padding: 0.5rem;
    text-align: center;
  }

  > .card {
    border-radius: 1rem 0 0 1rem;
  }

  > .row {
    border-radius: 0 1rem 1rem 0;
  }

  > .active {
    color: white;
    background-color: #9C9C9C;
  }
}