header {
  max-width: 1000px;
  height: 3.5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  > a {
    height: fit-content;
    font-size: 1.5rem;
  }
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
      transition: all linear 0.2s;
      border-bottom: 0rem solid black;
      &.active{
        border-bottom: 0.25rem solid red;
      }

      &:hover{
        border-bottom: 0.25rem solid black;
        transition: all linear 0.2s;
      }
    }
  }
}